
  
 <section class="vh-100 gradient-custom"> 
  <div *ngIf="isLoading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-success text-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-5">Create new account?</p>
               
                <form class="" [formGroup]="registerForm">
               <div class=" mb-4">
                    <div class="row">
                        <div class="col-1">
                          <label  class="form-label" ><li class="fa fa-envelope"></li></label>
                        </div>
                    
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label class="text-white">Email<mat-icon>email</mat-icon></mat-label>
                      <input matInput formControlName="email"  [(ngModel)]="newRegister.email" class="bg-success"   >
                     
                      <mat-error *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                        Please enter a valid email address.
                      </mat-error>
                     
                    </mat-form-field>
                     <div *ngIf="isLoading" class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     {{message}}
                    </div> 
                  </div>
                  </div>
                <div class=" mb-4">
                    <div class="row">
                        <div class="col-1">
                            <label  class="form-label" ><li class="fa fa-user "></li></label>
                        </div>
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label class="text-white">Name</mat-label>
                      <input matInput formControlName="name"  type="text" [(ngModel)]="newRegister.name" class="bg-success"   >
                      <mat-error *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
                        Please enter a valid name.
                      </mat-error>
                      
                        
                      
                    </mat-form-field>
                </div>
                </div>
                <div class="form-outline form-white mb-4">
                    <div class="row">
                        <div class="col-1">
                            <label class="form-label" ><li class="fa fa-map-marker "></li></label>
                        </div>
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label class="text-white">Address<mat-icon> add_location</mat-icon></mat-label>
                      <input matInput formControlName="address"[(ngModel)]="newRegister.address" class="bg-success"  type="text"   >
                      <mat-error *ngIf="registerForm.controls['address'].invalid && (registerForm.controls['address'].dirty || registerForm.controls['address'].touched)">
                        Please enter a valid address.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>  
                      <button class="mat-raised-button" color="primary" [disabled]="!registerForm.valid" (click)="regClick()" >Register</button>
                </form>
              </div>
              <div>
              </div>
              <div>
                <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold" >Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
