.mat-raised-button {
    background-color: #2196f3; /* Set the background color */
    color: #ffffff; /* Set the text color */
    font-size: 16px; /* Set the font size */
    padding: 12px 24px; /* Set the padding */
    border: none; /* Remove the border */
    border-radius: 4px; /* Apply border radius */
    cursor: pointer; /* Set cursor to pointer */
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
.mat-raised-button:hover {
    background-color: #0e87cc; /* Change background color on hover */
  }
  
.mat-raised-button:disabled {
    background-color: #cccccc; /* Change background color when disabled */
    cursor: not-allowed; /* Change cursor when disabled */
  }
  