
<div class="container bg-light" >
<div class="row">
    <div class="col-3 p-4" *ngFor="let emp of ticket" >
        <div class=" table-bordered table-stripe " >
      <div class="card bg-light ">
        <div class="image-container">
          <img [src]="emp.image" alt="Event Image" class="event-image">
          <span *ngIf="emp.count===0" class="not-available">Not Available</span>
        </div>
        
        <!-- <img class="card-img-top border border-info" [src]="emp.image" > -->
        
          <a class="text-dark m-2">Movie Name:<a class="text-info ">{{ emp.name }}</a></a>
          <a class="text-dark m-2">Ticket Available:<a class="text-info ">{{ emp.count }}</a></a>
        
            <div class="col"   >
                <button  class="form-control book-now-button" [disabled]="emp.count === 0"  (click)="bookingticket(emp)" >Book now <i class=" fa fa-bookmark"></i> </button>
               
            </div>

          </div>
        </div>
    
    
    </div> 
 <!-- loop -->
  </div>
</div>
 






  
          




    
    


